// Anpassungen an UB Mannheim

.control-bar {
    .header-bar {
        h1{
            a {
                // Logo des df-viewers:
		background: url(../../../Resources/Public/Images/header/UB_d_w.svg) no-repeat 0 0;
		background-size: 62px;
            }
        }
    }
}

.document-view {
	.document-functions {
		.provider {
			display: none;
		}
		
		ul.document-function-bar {
			left: 15px;
		}
	}
}

body {
	&.fullscreen {
		.document-view {
			.document-functions {
				.provider {
					// fix position of logo
					.transform(translateY(-10%));
					
					// Original state
					display: flex;
					
				}
				
				ul.document-function-bar {
					// Original state
					left: 124px;
				}
				
			}
		}
	}
}